[submodule "firmware"]
	path = firmware/svalboard
	url = https://github.com/micleo2/svalboard-vial-qmk.git
	branch = mal
[submodule "firmware/qmk"]
	path = firmware/qmk
	url = https://github.com/qmk/qmk_firmware.git
