[submodule "firmware"]
	path = firmware/svalboard
	url = https://github.com/micleo2/svalboard-vial-qmk.git
	branch = mal
[submodule "firmware/qmk"]
	path = firmware/qmk
	url = git@github.com:micleo2/rover.git
